.grid-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.5s;
    height: 75px;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #2196f3;
    padding: 10px;
    grid-gap: 10px;
    justify-content: center;
}

.grid-container div {
    background: #eee;
    text-align: center;
    padding: 20px;
    font-style: 30px;
}

.item1 {
    grid-area: 1 / 1 / 4 / 3;
}

.item6 {
    grid-column: 1 / 5;
}

.item2,
.item3 {
    grid-area: span 1 / span 2;
}

.ul {
    background-color: #eee;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-flow: column;
    list-style-type: none;
    justify-content: space-between;
}

.navShadow {
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    height: 100px;
}